:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --gold: #9D8665;
  --white: #ffffff;
  --black: #000000;
  --unvisited: #D2B183;  
  --active: #7E6C51;
  
  --font-size-base: 22px;
  --font-family-main: "Roboto", "Arial", sans-serif;
  --font-family-headings: "Forum", "Times New Roman", serif;
  --font1: 80px;
  --font2: 32px;
  --font3: 28px;
  --font4: 22px;
  --font5: 18px;  
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Forum;
   src: url("assets/fonts/Forum-Regular.ttf");
   font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {  
  margin: 0;
  padding: 0;

  font-family: var(--font-family-main);
  font-size: var(--font-size-base);  
  line-height: 26px;
  font-weight: 300;
  color: var(--black);  
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;

  white-space: nowrap;

  border-width: 0;

  clip: rect(0, 0, 0, 0);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h2 {
  font-family: var(--font-family-headings);
  font-size: var(--font1);
  line-height: 90px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.underline-title {
  position: relative;  
}

.underline-title::after {
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  
  content: "";
  
  height: 3px;

  background-color: var(--dark-red);
}

/* TOURS STYLES */

.tour1-body,
.tour2-body,
.tour3-body,
.tour4-body,
.tour5-body,
.tour6-body,
.tour7-body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.tour1-iframe,
.tour2-iframe,
.tour3-iframe,
.tour4-iframe,
.tour5-iframe,
.tour6-iframe,
.tour7-iframe {
  width: 100vw;
  height: 100vh; 
}

/* HEADER STYLES */

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 150px;

  background-color: var(--bg-dark);
}

.page-header__container {
  display: flex;
  justify-content: space-between;  
  width: 1440px;
}

.page-header__logo {
  display: flex;
  width: 199px;
}

.page-header__logo-image {
  display: block;
  width: 49px;
  height: 26px;
}

.page-header__logo-text {
  margin-left: 25px;

  font-family: var(--font-family-headings);
  font-size: var(--font3);
  line-height: 31px;
  color: var(--white);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 4px; 

  list-style-type: none;
}

.main-nav__item:not(:last-of-type) {
  margin-right: 55px;
}

.main-nav__item a {
  font-size: var(--font4);
  font-weight: 100;  
  color: var(--white);  
  letter-spacing: 2px;
}

.main-nav__item a:hover,
.main-nav__item a:focus {
  color: var(--gold);
}

.main-nav__item a:active {
  color: var(--active);
}

/* WELCOME STYLES */

.welcome {
  color: var(--white);

  background-color: var(--bg-dark);
}

.welcome__container {
  position: relative;
  display: flex;
}

.welcome__intro {
  position: absolute;
  left: 0px;
  top: 150px;
  z-index: 10;

  width: 598px;
  height: 388px;

  pointer-events: none;
}

.welcome__title {
  margin-bottom: 25px;
}

.welcome__text {
  margin-bottom: 50px;

  font-size: var(--font3);
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome__link {
  width: 360px;
  margin-top: 77px;  
}

.welcome__link a {
  display: block;
  box-sizing: border-box;  
  padding: 23px 65px;

  font-size: var(--font4);
  color: var(--white);
  letter-spacing: 2px;
  text-align: center;

  background-color: var(--dark-red);
  border-radius: 10px;

  pointer-events: initial;
}

.welcome__link a:hover {
  background-color: var(--gold);
}

.welcome__swiper {
  position: relative;

  width: 1000px;
  height: 750px;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 60px;
}

.welcome__swiper::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  content: "";

  width: 100%;
  height: 100%;

  color: white;

  background-image: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);

  pointer-events: none;
}

.welcome__swiper-image {
  position: relative;

  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.welcome .welcome__swiper-controls-container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 30;

  display: flex;  
  align-items: center;
  box-sizing: border-box;
  width: 600px;
  height: 120px;
  padding-left: 74px;
  padding-right: 75px;

  background-color: var(--bg-dark);
}

.welcome__swiper-counter {
  width: 76px;
  min-height: 40px;

  font-size: var(--font4);
  line-height: 40px;
  font-weight: 400;
}

.welcome__counter-divider {
  margin: 0 5px;
}

.swiper-pagination {
  position: static;
  z-index: unset;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  bottom: unset;
  left: unset;
  
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
  margin-left: 55px;
  margin-right: 60px;  
}

.welcome__swiper-controls-container .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin: 0 25px;

  background-color: var(--white);

  border-radius: unset;
  opacity: unset;
}

.welcome__swiper-controls-container .swiper-pagination-bullet-active {
  background-color: var(--unvisited);
}

.welcome__swiper-controls-container .swiper-pagination-bullet:hover {
  background-color: var(--gold);
 }

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 25px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-of-type, 
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-of-type {
  margin-right: 0;
}

.welcome__swiper-controls-container .swiper-button-prev,
.welcome__swiper-controls-container .swiper-button-next  {
  position: static;

  width: 30px;
  height: 40px;
  margin: 0;
  
  background-color: var(--bg-dark);
  background-image: url("./assets/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.welcome__swiper-controls-container .swiper-button-next {
  margin-left: 20px;

  transform: rotate(180deg);
}

.welcome__swiper-controls-container .swiper-button-next:after,
.welcome__swiper-controls-container .swiper-button-prev:after {
  content: ""
}

.welcome__swiper-controls-container .swiper-button-prev:hover,
.welcome__swiper-controls-container .swiper-button-next:hover {
  background-image: url("./assets/svg/arrow-hover.svg");
}

/* VISITING STYLES */
.visiting {
  margin: 75px 0;
}

.visiting__title {  
  margin-bottom: 103px;

  color: var(--gold);
}

.visiting__list {
  display: flex;
  flex-wrap: wrap;
  gap: 75px 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}

.visiting__item {
  width: 440px;
  min-height: 424px;

  transition: 0.5s linear;
}

.visiting__item:hover,
.visiting__item:focus-within {
  box-shadow: 0px 2px 20px -2px rgba(3, 3, 3, 0.8);
}

.visiting__link:focus {
  outline: none;
}

.visiting__image {
  display: block;
  transition: 0.5s linear;
}

.visiting__subtitle {
  position: relative;

  margin-top: 22px;
  margin-bottom: 24px;

  font-family: var(--font-family-headings);
  font-size: var(--font2);
  line-height: 35px;
  font-weight: 400;
  color: var(--black);
  letter-spacing: 5px;
  text-transform: uppercase;

  transition: 0.5s linear;  
}

.visiting__subtitle::after {
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  
  content: "";
  
  height: 2px;
  width: 300px;

  background-color: var(--dark-red);

  transition: 0.5s linear;
}

.visiting__desc {
  margin-bottom: 10px;

  font-size: var(--font4);
  font-weight: 100;
  color: var(--black);

  transition: 0.5s linear;
}

.visiting__service {
  font-size: var(--font5);
  line-height: 21px;
  font-weight: 100;
  color: var(--black);

  transition: 0.5s linear;
}

.visiting__item:hover .visiting__image,
.visiting__item:focus-within .visiting__image  {
  opacity: 0.8;
}

.visiting__item:hover .visiting__subtitle,
.visiting__item:hover .visiting__desc,
.visiting__item:hover .visiting__service,
.visiting__item:focus-within .visiting__subtitle,
.visiting__item:focus-within .visiting__desc,
.visiting__item:focus-within .visiting__service {
  color: var(--gold);  
}

.visiting__item:hover .visiting__subtitle::after,
.visiting__item:focus-within .visiting__subtitle::after {
  width: 100%;  
}

/* EXPLORE STYLES */

.explore {
  padding: 75px 0;

  color: var(--white);

  background-color: var(--bg-dark);
}

.explore__container {
  display: flex;
  justify-content: space-between;
}

.explore__descritpion {
  width: 660px
}

.explore__title {
  margin-bottom: 103px;
}

.explore__image {
  width: 720px;
  padding-top: 15px;
}

.explore__descritpion p {
  margin-bottom: 27px;
  padding-right: 1px;

  font-size: var(--font4);
  line-height: 38px;
}


